@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@400;500;600&family=Poppins:wght@400;500;600;700&family=Volkhov:wght@700&display=swap");
.header {
  width: 1200px;
  margin: 0 auto;
  height: 100vh;
  background-image: url("../img/traveller.png");
  background-repeat: no-repeat;
  background-size: 58% auto;
  background-position: right;
}
.header:before {
  content: "";
  position: absolute;
  background-image: url("../img/decore.png");
  background-repeat: no-repeat;
  background-position: right top;
  width: 1440px;
  height: 100%;
  z-index: -1;
}
.header:after {
  content: "";
  position: absolute;
  background-image: url("../img/ellipse.png");
  background-repeat: no-repeat;
  background-size: contain;
  top: -40%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 47px;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: 400;
}
.header__nav a {
  display: inline-block;
  margin: 0 25px;
  text-decoration: none;
  padding: 5px 10px;
  color: #212832;
}
.header__nav a:hover {
  color: #DF6951;
  transform: scale(1.05);
  transition: 0.5s;
}
.header__nav a:first-child {
  margin-left: 0;
}
.header__nav a:last-child {
  margin-right: 0;
}
.header__buttons select {
  border: none;
  background: rgba(0, 0, 0, 0);
}
.header__buttons select:focus {
  outline: none;
}
.header__buttons a {
  margin: 0 25px;
  text-decoration: none;
  padding: 5px 15px;
  color: #212832;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
}
.header__buttons a:hover {
  transition: 0.5s;
  border: 1px solid #212832;
  border-radius: 5px;
}
.header__buttons a:first-child {
  margin-left: 0;
}
.header__content {
  width: 50%;
  margin-top: 130px;
}
.header__content h2 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #DF6951;
}
.header__content h1 {
  font-family: "Volkhov", serif;
  font-size: 84px;
  font-weight: 700;
  margin-top: 24px;
  margin-bottom: 30px;
  color: #181E4B;
}
.header__content p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 50px;
  width: 80%;
  color: #5E6282;
}
.header__btn-findoutmore {
  background-color: #F1A501;
  color: #fff;
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 8px;
  margin-right: 44px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  box-shadow: 0 20px 35px rgba(241, 165, 1, 0.15);
  border: 1px solid #F1A501;
}
.header__btn-findoutmore:hover {
  border: 1px solid #F1A501;
  background-color: #fff;
  color: #F1A501;
  transition: 0.5s;
}
.header__btn-play {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: #686D77;
  text-decoration: none;
  display: inline-block;
}
.header__btn-play:hover {
  color: #DF6951;
  transform: scale(1.05);
  transition: 0.5s;
}
.header__play-img {
  background-color: #DF6951;
  padding: 18px;
  border: 1px solid #000;
  border-radius: 50%;
  margin-right: 20px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  box-shadow: 0 15px 30px rgba(223, 105, 81, 0.3);
}
.header__plane-img-1 {
  position: absolute;
  top: 5%;
  left: 75%;
  z-index: -1;
}
.header__plane-img-2 {
  position: absolute;
  top: 4%;
  left: 50%;
  z-index: -1;
}

.main {
  width: 1200px;
  margin: 0 auto;
}

.category {
  margin-bottom: 200px;
  background-image: url("../img/pluses.svg");
  background-repeat: no-repeat;
  background-position: right top;
}
.category h3 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #5E6282;
  text-align: center;
  margin-bottom: 10px;
}
.category h2 {
  font-family: "Volkhov", serif;
  font-size: 50px;
  font-weight: 700;
  color: #14183E;
  text-align: center;
  margin-bottom: 66px;
}
.category__rectangle {
  position: absolute;
  z-index: -1;
  bottom: -40px;
  left: -40px;
  opacity: 0;
}
.category__services {
  display: flex;
  justify-content: space-around;
  margin-bottom: 150px;
}
.category__service {
  text-align: center;
  margin-right: 36px;
  margin-left: 36px;
  position: relative;
  background-color: #fff;
  border-radius: 36px;
}
.category__service:first-child {
  margin-left: 0;
}
.category__service:last-child {
  margin-right: 0;
}
.category__service:hover {
  box-shadow: 0 100px 80px rgba(0, 0, 0, 0.02), 0 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0 20px 13px rgba(0, 0, 0, 0.01), 0 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  transition: 0.5s;
}
.category__service:hover .category__rectangle {
  opacity: 1;
  transition: 0.5s;
}
.category__service div {
  height: 154px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category__service div img {
  vertical-align: middle;
}
.category h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #1E1D4C;
  margin-bottom: 15px;
}
.category p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #5E6282;
  margin: 32px;
}

.destinations h3 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #5E6282;
}
.destinations h2 {
  font-family: "Volkhov", serif;
  font-size: 50px;
  font-weight: 700;
  color: #14183E;
}
.destinations__cards {
  display: flex;
  justify-content: space-around;
  background-image: url("../img/destination-bg.svg");
  background-repeat: no-repeat;
  background-position: right;
  margin-bottom: 185px;
}
.destinations__card {
  filter: drop-shadow(0 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
  border-radius: 24px;
  overflow: hidden;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #5E6282;
}
.destinations__card:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: 0.5s;
}
.destinations__card-img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 310px;
}
.destinations__card-img--rome {
  background-image: url("../img/rome.jpg");
}
.destinations__card-img--london {
  background-image: url("../img/london.jpg");
}
.destinations__card-img--europe {
  background-image: url("../img/europe.jpg");
}
.destinations__card-location {
  display: flex;
  justify-content: space-between;
  margin: 25px 25px 20px 20px;
}
.destinations__card-duration {
  margin: 0 0 42px 20px;
  font-size: 16px;
}
.destinations__card-duration img {
  margin-right: 15px;
}

.booking {
  display: flex;
  background-image: url("../img/booking-bg.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50%;
  margin-bottom: 200px;
}
.booking__info h3 {
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #5E6282;
}
.booking__info h2 {
  text-align: left;
  font-family: "Volkhov", serif;
  font-size: 50px;
  font-weight: 700;
  color: #14183E;
  margin-bottom: 30px;
}
.booking__item {
  display: flex;
  margin-bottom: 48px;
}
.booking__item-img {
  margin-right: 20px;
}
.booking__item p {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #5E6282;
}
.booking__item h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #5E6282;
  margin-bottom: 5px;
}
.booking__card {
  margin: 0 auto;
  background-color: #fff;
  border-radius: 26px;
  padding: 20px 25px 30px 25px;
  box-shadow: 0 100px 80px rgba(0, 0, 0, 0.02), 0 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0 20px 13px rgba(0, 0, 0, 0.01), 0 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  height: 370px;
  display: flex;
  align-self: center;
  flex-direction: column;
  position: relative;
}
.booking__card-info {
  margin-bottom: 20px;
}
.booking__card-info h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #080809;
}
.booking__card-info span {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #84829A;
}
.booking__card-icons img {
  margin-right: 18px;
  margin-bottom: 30px;
}
.booking__card-img {
  border-radius: 24px;
  overflow: hidden;
  border: 1px solid #000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-bottom: 26px;
}
.booking__card-quantity span {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #84829A;
}
.booking__card-quantity img:first-child {
  margin-right: 15px;
}
.booking__card-quantity img:last-child {
  float: right;
}
.booking__card-hidden {
  display: flex;
  background: #FFFFFF;
  box-shadow: 0 100px 80px rgba(0, 0, 0, 0.02), 0 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0 20px 13px rgba(0, 0, 0, 0.01), 0 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 18px;
  padding: 20px;
  width: 260px;
  position: absolute;
  top: 48%;
  left: 160px;
}
.booking__card-hidden-img img {
  border-radius: 50%;
  margin-right: 11px;
}
.booking__card-hidden-info {
  width: 100%;
}
.booking__card-hidden-info h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #84829A;
}
.booking__card-hidden-info span {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #080809;
}
.booking__card-hidden-info span span {
  color: #8A79DF;
}
.booking__card-hidden-info h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #080809;
}
.booking__card-hidden-progress {
  height: 5px;
  background: #F5F5F5;
}
.booking__card-hidden-progress:before {
  content: "";
  display: block;
  width: 40%;
  height: 100%;
  background: #8A79DF;
}

.testimonials {
  display: flex;
  justify-content: space-around;
  margin-bottom: 200px;
}
.testimonials__headers {
  width: 50%;
}
.testimonials__headers h2 {
  font-family: "Volkhov", serif;
  font-size: 50px;
  font-weight: 700;
  color: #14183E;
  text-align: left;
}
.testimonials__headers h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #5E6282;
  text-align: left;
}
.testimonials__message {
  padding: 30px;
  background: #FFFFFF;
  box-shadow: 0 100px 80px rgba(0, 0, 0, 0.02), 0 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0 20px 13px rgba(0, 0, 0, 0.01), 0 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 10px;
  width: 50%;
  position: relative;
}
.testimonials__message:before {
  content: "";
  position: absolute;
  background-image: url("../img/customer.png");
  background-repeat: no-repeat;
  top: -35px;
  left: -35px;
  width: 100%;
  height: 100%;
}
.testimonials__message p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #5E6282;
  margin: 0 0 34px 0;
}
.testimonials__message h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #5E6282;
  margin-bottom: 5px;
}
.testimonials__message span {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #5E6282;
}

.sponsors {
  display: flex;
  justify-content: space-between;
  margin-bottom: 145px;
}
.sponsors div {
  width: 220px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: grayscale(100%);
}
.sponsors div:hover {
  background: #FFFFFF;
  box-shadow: 0 100px 80px rgba(0, 0, 0, 0.02), 0 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0 20px 13px rgba(0, 0, 0, 0.01), 0 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 10px;
  filter: none;
  transition: 0.5s;
}

.subscribe {
  background-color: #fff;
  text-align: center;
  margin-bottom: 166px;
}
.subscribe__img {
  position: absolute;
  top: -20px;
  right: -20px;
}
.subscribe__bg {
  position: absolute;
  bottom: -65px;
  right: -100px;
}
.subscribe-container {
  background-color: rgba(223, 215, 249, 0.2);
  width: 1200px;
  margin: 0 auto;
  border-radius: 129px 20px 20px 20px;
  padding-top: 79px;
  position: relative;
}
.subscribe-container h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 33px;
  color: #5E6282;
  padding-bottom: 74px;
}
.subscribe-container form {
  padding-bottom: 78px;
}
.subscribe-container form input {
  background-image: url("../img/letter.svg");
  background-repeat: no-repeat;
  background-position: 30px 50%;
  padding: 25px 0 25px 60px;
  width: 420px;
  border-radius: 10px;
  border: 1px solid #fff;
}
.subscribe-container form button {
  width: 180px;
  color: #fff;
  background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
  border-radius: 10px;
  padding: 25px 0;
  border: 1px solid #FF7D68;
  margin-left: 24px;
}
.subscribe-container form button:hover {
  color: #FF7D68;
  background: #fff;
  transition: 0.5s;
}

.footer {
  width: 1200px;
  margin: 0 auto;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 84px;
}
.footer__text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.footer__text h2 {
  font-size: 44px;
  color: #181E4B;
  margin-bottom: 19px;
}
.footer__text p {
  font-size: 13px;
  color: #5E6282;
}
.footer h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 21px;
  color: #080809;
  padding-top: 12px;
  margin-bottom: 34px;
}
.footer div ul {
  list-style-type: none;
  padding-left: 0;
}
.footer div ul li {
  margin-bottom: 12px;
}
.footer div ul li a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #5E6282;
}
.footer__last-column div {
  margin-bottom: 30px;
}
.footer__last-column div a img:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
.footer__last-column div a {
  text-decoration: none;
}
.footer__last-column h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #5E6282;
  margin-bottom: 16px;
}
.footer__insta-ico {
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 3px;
}
.footer__rights {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #5E6282;
}

body {
  position: relative;
}

/*# sourceMappingURL=style.css.map */
